/*-----------------
     general
-----------------*/
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	font-size: 62.5%;
  font-style: normal;
  font-weight: normal;
  color: #051033;
}

h1, h2, h3,
h4, h5, h6,
p, span, a {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
}


/*-----------------
    navigation
-----------------*/
header {
  position: absolute;
  z-index: 1;
  height: 5rem;
  width: 100%;
}

header img {
  max-height: 4rem;
  width: auto;
  margin-top: 1.5rem;
}

@media screen and (min-width: 801px) {
  header img {
    max-height: 5rem;
  }
}

.right {
  float: right;
}


/*-----------------
     feature
-----------------*/
.intro {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.intro video { 
  position: absolute;
  z-index: -100;
  min-height: 100vh;
  min-width: 100%;
  height: auto;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: url('../images/bg.jpg') no-repeat center center;
  background-size: cover;
}

@media screen and (max-width: 800px) {
  .intro { 
    background: url('../images/bg.jpg') #000000 no-repeat center center; 
    background-position: absolute;
    background-size: cover;
  }
  #bgvid { 
    display: none; 
  }
}

.feature {
  height: 100%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.feature h1 {
  font-size: 3.5rem;
  letter-spacing: -0.1rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 800px) {
  .feature {
    max-width: 800px;
  }
  .feature h1 {
    font-size: 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    max-width: 1000px;
  }
  .feature h1 {
    font-size: 7rem;
  }
}


/*-----------------
    the assets
-----------------*/
.the-assets {
  padding: 5rem 0;
}

.module {
  margin: 2.5rem 0;
  padding: 2.5rem 1.5rem;
  border-radius: .6rem;
  border: 1px solid #bababa;
}

.the-assets h2 {
  padding-bottom: 2.5rem;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.the-assets p {
  padding-bottom: 2.5rem;
  font-size: 1.8rem;
  text-align: center;
}

.the-assets a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .the-assets h2 {
    font-size: 4.5rem;
  }
  .the-assets p {
    font-size: 2.5rem;
  }
  .the-assets a {
    font-size: 2rem;
    text-decoration: none;
  }
}

.button, .button:visited {
  display: block;
  max-width: 20rem;
  margin: 0 auto;
  padding: 1.5rem 2.5rem;
  border-radius: .6rem;
  background: #860052;
  background: linear-gradient(-45deg, #860052, #fcaf17);
  text-align: center;
  -webkit-transition: box-shadow .3s ease-in-out;
}

.button:hover {
  box-shadow: 0 0 7px 2px rgba(0,0,0,0.3);
}


/*-----------------
     the team
-----------------*/
.team h2 {
  padding-bottom: 2.5rem;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.team p {
  padding-bottom: 2.5rem;
  font-size: 1.8rem;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team h2 {
    font-size: 4.5rem;
  }
  .team p {
    font-size: 2.5rem;
  }
}




